[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
webdriver-manager = "*"
pytest-html = "*"
python-dotenv = "*"
deepdiff = "*"
pytest-parallel = "*"
requests = "*"
pylint = "*"
atomicwrites = "*"

[dev-packages]

[requires]
python_version = "3.7"
